$main-font-stack: Montserrat;
$secondary-font-stack: Kaushan Script;
$third-fond-stack: Roboto;
$main-colour-white: white;
$main-colour-black: #333;
$secondary-colour-black: #999;
$main-bg-colour: #fce38a;
$secondary-bg-colour: #f38181;