:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  // transition: color 150ms var(--timing-function),
  //   background-color 150ms var(--timing-function);
  // background-color: var(--rundom-color);
  background-image: url('../images/bg-pattern.png');
}

.root {
  // margin: 0 auto;
}

.form-inline {
  text-align: center;
}

.form_country {
  display: flex;
  justify-content: center;
}

.form-control {
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  margin: 40px;
  width: 538px;
}
.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
}

/* MENU */

.container {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card {
  position: relative;
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 8px;
}

.card__content {
  display: flex;
  flex-direction: column;
  padding: 8px;
  flex-grow: 1;
}

.card__image {
  height: 300px;
  object-fit: scale-down;
  max-width: 100%;
}

.card__name {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 700;
}

.card__names {
  // margin-top: 16px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
}

.card__descr {
  line-height: 1.5;
  flex-grow: 1;
  font-weight: 500;
}

.card__capital {
  display: flex;
  align-items: center;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 500;
}

.capital_header,
.population_header,
.language_header {
  margin-right: 8px;
  font-size: 20px;
  font-weight: 700;
}

.card__reviews {
  display: block;
  margin-top: 16px;
}

.tag-list {
  // display: flex;
  // flex-wrap: wrap;
  padding: 0;
  margin: 0;
  font-weight: 500;
  // list-style: none;
}

.tag-list__item {
  padding: 4px 8px;
  margin-left: 30px;
  // margin: 4px;
  // border-radius: 2px;
  // background-color: #3f51b5;
  // color: #fff;
}
