.background {
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100% ), url('../images/background.png');
    background-color: $main-bg-colour;
    min-height: 1000px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 45px;
    
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(to top, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100% ), url('../images/background@2x.png');
            background-size: cover;
    }
    }