* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.wrapper {
    width: 1110px;
    height: 1800px;
    margin: auto;
}

.mart {
    font-size: 0;
    font-family: Roboto Light, sans-serif;
    font-size: 30px;
    /* line-height: 1.5; */
    color: rgb(85, 82, 82);  
    /* text-decoration: none; */
}

.mart a {
    font-family: Roboto Light, sans-serif;
    font-size: 30px;
    color: rgb(85, 82, 82);  
    text-decoration: none;
}

.mart::first-letter {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    line-height: 1.5;
    color: #1abc9c;
    font-size: 30px;
}

.header {
    height: 100px;
    padding: 30px 0;
    margin-bottom: 60px;
}

header h1 {
    float: left;
}

header nav {
    float: right;
    margin: 10px 0;
}

header li {
    display: inline-block;
}

header ul li a:link {
    padding: 0 40px;
    padding-right: 0;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    color: rgb(15, 1, 1);
  }

a:link:hover {
    color: #1abc9c;
}

.wrapper_2 {
    height: auto;
    font-size: 0;
    overflow: hidden;
    margin-bottom: 100px;

}

.wrapper_2 ul {
    height: auto;
    overflow: hidden;
}


.underline, .underline2 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 80px;
    color: rgb(81, 81, 81);
    font-family: Roboto-Black, sans-serif;
}

.underline:after, .underline2:after {
    content: "";
    display: block;
    height: 7px;
    width: 165px;
    background-color: #1abc9c;
    margin: 10px auto;
}


li {
    padding:0; 
    margin:0
}

.window {
    width: 255px;
    height: 320px;
    margin: 15px;
    float: left;
}

.window:nth-child(4n+1) {
    margin-left: 0;
}
/*  */
.window:nth-child(4n) {
    margin-right: 0;
}

.link-side {
    text-decoration: none;
    display: inline-block;
    height: 40px;
    width: 80%;
    background-color: #323232;
    font-weight: 700;
    color: white;
    font-size: 18px;
    line-height: 40px;
    vertical-align: middle;
    padding-left: 12px;
    
    
}

.link-side a {
    text-decoration: none;
    font-family: Roboto-Black, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white; 
}    
    
 
.p-side {
     display: inline-block;
     text-decoration: none;
     margin: 0;
     height: 40px;
     width: 20%;
     font-weight: 700;
     background-color: #8c8c8c;
     font-size: 18px;
     text-align: center;
     line-height: 40px;
     vertical-align: middle;
}
 
.p-side p {
    text-decoration: none;
    font-family: Roboto-Black, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.wrapper_3 {
    font-size: 0;
    height: auto;
    overflow: hidden;
    margin-bottom: 0;
}

.wrapper_3 ul {
    height: auto;
    overflow: hidden;
}

.wrapper_3 ul li a+p {
    text-decoration: none;
    font-family: Roboto-Black, sans-serif;
    font-size: 18px;
    padding: 10px;
    color: white;
}

.wrapper_3 ul li:hover .link-side {
    background-color: #1abc9c;
    color: white; 
}

.wrapper_3 ul li:hover .p-side {
    background-color: #7fd9c7;
    color: white;  
}


.news {
    height: 500px;
    width: 350px;
    margin: 15px;
    float: left;
}

.news:nth-of-type(1) {
    margin-left: 0;
}

.news:nth-last-of-type(1) {
    margin-right: 0;
}

h4 {
    font-size: 18px;
    margin: 10px auto; 
    color: #555252;
    font-family: OpenSans-Semibold, sans-serif;
}

h4:after {
    content: "";
    display: block;
    height: 3px;
    width: 136px;
    background-color: #1abc9c;
    margin: 10px 0;
}

.news p {
    /* text-align: center; */
    font-size: 14px;
    margin: 10px auto; 
    color: #555252;
    font-family: OpenSans-Regular, sans-serif;
}

button {
    background-color: #1abc9c;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    width: 160px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: OpenSans-Light, sans-serif;
  }

  button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }