{{#each this}}
<li class="menu__item">
    <article class="card">
        <div class="card__content">
            <ul class="tag-list">
                <li class="tag-list__item">{{name}}</li>
            </ul>
        </div>
    </article>
</li>
{{/each}}