* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.wrapper {
    width: 1600px;
    margin: auto;
}

.mart {
    font-size: 0;
    font-family: Roboto Light, sans-serif;
    font-size: 30px;
    color: rgb(85, 82, 82);  

}

.mart a {
    font-family: Roboto Light, sans-serif;
    font-size: 30px;
    color: rgb(85, 82, 82);  
    text-decoration: none;
}

.mart::first-letter {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    line-height: 1.5;
    color: #1abc9c;
    font-size: 30px;
}

.header {
    width: 1110px;
    height: 100px;
    padding: 30px 0;
    margin: 0 auto;
    background-color: white;
}

header h1 {
    float: left;
}

header nav {
    float: right;
    margin: 10px 0;
}

header li {
    display: inline-block;
}

header ul li a:link {
    padding: 0 40px;
    padding-right: 0;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    color: rgb(15, 1, 1);
  }

header a:link:hover {
    color: #1abc9c;
}

.slider {
    width: 1600px;
    height: 600px;
    background-color: #fff;
    background-image: url(/goit/home_work/module-5/img/img1.jpg);
    font-size: 0;
    position: relative;
}

.topic {
    width: 1600px;
    height: 600px;
    opacity: 0.52;
    background-color: #000002;  
    text-transform: uppercase;
    
}

.main-topic {
    position: absolute;
    top: 33%;
    left: 27%;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
    line-height: 82px;
    color: white;
    font-family: Roboto;
}

.sub-topic {
    position: absolute;
    top: 47%;
    left: 27%;
    font-size: 24px;
    font-weight: 300;
    line-height: 54px;
    color: white;
    font-family: Roboto;
}

.slider-arrow {
    width: 104px;
    height: 104px;
    background-color: #1abc9c;
    color: white;
    font-family: Roboto;
    font-size: 100px;
    opacity: 0.52;
}

.slider-arrow:hover {
    background-color: #1abc9c;
    opacity: 1;
}

.left {
    position: absolute;
    top: 40%;
    left: 15%;   
}

.right {
    position: absolute;
    top: 40%;
    right: 15%;   
}

.wrapper_2 {
    width: 1600px;
    height: auto;
    background-color: #e9f0fd; 
}

.wrapper_3 {
    height: auto;
    font-size: 0;
    overflow: hidden;
    width: 1110px;
    margin: 0 auto;
    padding: 100px 0;
}

.wrapper_3 ul {
    height: auto;
    overflow: hidden;
}


.underline {
    text-align: center;
    font-size: 48px;
    margin-bottom: 80px;
    color: rgb(81, 81, 81);
    font-family: Roboto-Black, sans-serif;
}

.underline:after {
    content: "";
    display: block;
    height: 7px;
    width: 165px;
    background-color: #1abc9c;
    margin: 10px auto;
}


li {
    padding:0; 
    margin:0
}

.window {
    width: 255px;
    height: 320px;
    margin: 15px;
    float: left;
    position: relative;
    
}

.window:nth-child(1) {
    margin-left: 0;
}

.window:nth-last-child(1) {
    margin-right: 0;
}

.link-side {
    text-decoration: none;
    display: inline-block;
    height: 40px;
    width: 80%;
    background-color: #323232;
    font-weight: 700;
    color: white;
    font-size: 18px;
    line-height: 40px;
    vertical-align: middle;
    padding-left: 12px;
    
    
}

.link-side a {
    text-decoration: none;
    font-family: Roboto-Black, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white; 
}    
    
 
.p-side {
     display: inline-block;
     text-decoration: none;
     margin: 0;
     height: 40px;
     width: 20%;
     font-weight: 700;
     background-color: #8c8c8c;
     font-size: 18px;
     text-align: center;
     line-height: 40px;
     vertical-align: middle;
     color: white;
}
 
.p-side p {
    text-decoration: none;
    font-family: Roboto-Black, sans-serif;
    font-size: 18px;
    font-weight: 700;
}


.window:hover > .link-side {
    background-color: #1abc9c;
    color: white; 
}

.window:hover >.p-side  {
    background-color: #7fd9c7;
    color: white;  
}

.overlay-window {
    width: 255px;
    height: 281px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.527);
    border: 10px solid white;
    text-transform: uppercase;
    position: absolute;
    }

.overlay-window a {
    text-decoration: none;
    width: 87px;
    height: 10px;
    color: white;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
}

.window:hover .overlay-window {
    opacity: 0.9;
}


.icons { 
    display: inline-flex;
    align-items: center;

} 

.icon {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    font-family: Roboto;
    margin-right: 8px;
    margin-bottom: 5px;
    padding: 0;
    text-align: center;
}

.icons div:nth-last-child(1) {
    margin-right: 0;
    padding-top: 0;
}

.button1 {
    position: absolute;
    top: 30%;
    left: 15%;
    transform: translate( -1px, 0);
}

.button2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);

}

.button3 {
    position: absolute;
    top: 30%;
    right: 11%;
    transform: translate( -1px, 0);
}

.button4 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}  

.small {
    width: 25x;
    height: 25px;
    color: white;
    font-size: 30px;
    margin: 0;
    padding-top: 8px;
    vertical-align: middle;
}

.icon_big {
    width: 166px;
    height: 50px;
    background-color: #323232;
    border: 1px solid white;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
}

.add_tch {
    color: white;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    vertical-align: middle;
        
}


.icon:hover, .icon_big:hover {
    background-color: #1abc9c;
    border: 1px solid #1abc9c; 
}

footer {
    width: 1600px;
    height: 88px;
    background-color: #323232;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    
}

footer p {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #fefefe;
    margin-right: 5px;
}

footer a {
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #46bfa9;
    
}