/* Universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ELement selector */
img {
    width: 300px;
    height: auto;
    margin: auto;
}

/* Class selector */
.decorative-text {
    font-size: 14px;
    font-style: italic;
    margin: 5px 0;
}

/* Identify selector */
#unique-text {
    font-size: 32px;
    color: red;
}

/* Child selector */
ul li {
    font-size: 20px;
    color: green;
}
 /* Doughter selector */
ul li > a {
        text-decoration: none;
        color: coral;
}

 /* Sister's selector */
h2 + p {
        font-style: italic;
        margin: 5px;
        color: lightgray;
}

/* Atribute's selector */
a[href="https://google.com"] {
font-size: 32px;
font-weight: 700;
font-family: sans-serif;
}
/* Pseudoclass selector */
li:hover {
    background-color: black;
    color: yellow;
}
/* Selectors grouping */

ul, ol {
    padding-left: 40px;
}
.paragraph-first {
    font-size: 32px;
}
.paragraph-second {
    font-size: 30px;
}
.paragraph-third {
    font-size: 28px;
    }
.paragraph-first, .paragraph-second, .paragraph-third {
    text-decoration: underline;
    color:coral !important;
}
.paragraph-first {
    color: red;
}
.parent {
    font-size: 32px;
    font-family: sans-serif;
    color: green;
}
    /* Selector specificity */
    /* 0 | 0 | 0 */
    /* Id's | Classes, attributes, pseudo-classes | Elements, pseudo-elements */

    /* Focus pseudo-class */
    a:focus {
        color: red;
    }