.wrapper {
    padding: 0;
    width: 900px;
    align-items: center;
    margin: 0;
    font-family: Playfair Display, sans-serif;
    color: lightslategray;
}

a {
    text-decoration: none;
    color: lightslategray;
}

a:hover {
    color: lightblue;
}

.block-header {
    /* width: 1000px; */
    padding: 0;
    border: 2px;
    margin: 0;
    /* align-items: center; */
    text-align: center;
    }

.block-wrapper2 {
    /* width: 100%; */
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    display: flex;
    justify-content: center;
    /* display: block; */
    /* align-items: center; */
    /* text-align: center; */
}

/* .wrapper-article1 { */
    /* width: 470px; */
    /* margin: 30px; */
    /* box-sizing: border-box; */
    /* display: inline-block; */
    /* align-items: center; */
    /* border: 1px solid; */
    /* padding: 25px;  */
/* } */

/* .wrapper-article2 { */
    /* width: 470px; */
    /* margin: 30px; */
    /* box-sizing: border-box; */
    /* display: inline-block; */
    /* align-items: center; */
    /* border: 1px solid; */
    /* padding: 25px;  */
/* } */

.block-wrapper3 {
    /* width: 100%; */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    /* box-sizing: border-box; */
    /* display: block; */
    align-items: center;
}

/* .wrapper-article3 { */
    /* width: 470px; */
    /* margin: 30px; */
    /* box-sizing: border-box; */
    /* display: inline-block; */
    /* align-items: center; */
    /* border: 1px solid; */
    /* padding: 25px;  */
/* } */

/* .wrapper-article4 { */
    /* width: 470px; */
    /* margin: 30px; */
    /* box-sizing: border-box; */
    /* display: inline-block; */
    /* align-items: center; */
    /* border: 1px solid; */
    /* padding: 25px;  */
/* } */

.block-wrapper4 {
    /* width: 100%; */
    padding: 0; */
    margin: 0;
    display: flex;
    justify-content: center;
    /* box-sizing: border-box; */
    /* display: block; */
    /* align-items: center; */
}

/* .wrapper-article5 { */
    /* width: 470px; */
    /* margin: 30px; */
    /* box-sizing: border-box; */
    /* display: inline-block; */
    /* align-items: center; */
    /* border: 1px solid; */
    /* padding: 25px;  */
/* } */

/* .wrapper-article6 { */
    /* width: 470px; */
    /* margin: 30px; */
    /* box-sizing: border-box; */
    /* display: inline-block; */
    /* align-items: center; */
    /* border: 1px solid; */
    /* padding: 25px;  */
/* } */

.block-button {
    /* decoration: none; */
    /* margin: 0; */
    /* padding: 0; */
    display: flex;
    justify-content: center;
    /* box-sizing: border-box; */
    /* display: inline-block; */
    /* align-items: center; */
}
   

button {
    background-color: rgba(107, 107, 107, 0);
    border: 1px solid;
    color: lightslategray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }