.wrapper {
    padding: 15px 0;
    width: 420px;
    /* background-color: lightblue; */
    align-items: center;
    margin: 0 auto;
    font-family: Playfair Display, sans-serif;
}

a {
    text-decoration: none;
    color: lightslategray;
}

a:hover {
    color: lightblue;
}

.wrapper header {
    width: 100%;
    padding: 40px;
    margin: 40px;
}

.child-block-header a {
    padding: 15px 0;
    border: 2px;
    margin: 5px 0;
    text-align: justify;
    }


    .wrapper-article1, .wrapper-article2 {
        width: 470px;
        margin: 30px;
        box-sizing: border-box;
        display: inline-block;
        text-align: center;
        /* border: 1px solid; */
        padding: 25px; 
}

   