.wrapper {
    /* padding: 15px 0; */
    /* width: 1000px; */
    /* align-items: center; */
    /* margin: 0 auto; */
    font-family: Playfair Display, sans-serif;
}

a {
    text-decoration: none;
    color: lightslategray;
}

a:hover {
    color: lightblue;
}

.block-header {
    /* width: 1000px; */
    padding: 15px 0;
    border: 2px;
    margin: 5px 0;
    /* align-items: center; */
    text-align: center;
    }

.block-wrapper2 {
    /* width: 100%; */
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    display: block;
    align-items: center;
}

.wrapper-article1 {
    width: 470px;
    margin: 30px;
    box-sizing: border-box;
    display: inline-block;
    align-items: center;
    border: 1px solid;
    padding: 25px; 
}

.wrapper-article2 {
    width: 470px;
    margin: 30px;
    box-sizing: border-box;
    display: inline-block;
    align-items: center;
    border: 1px solid;
    padding: 25px; 
}

.wrapper-article3 {
    width: 470px;
    margin: 30px;
    box-sizing: border-box;
    display: inline-block;
    align-items: center;
    border: 1px solid;
    padding: 25px; 
}

.wrapper-article4 {
    width: 470px;
    margin: 30px;
    box-sizing: border-box;
    display: inline-block;
    align-items: center;
    border: 1px solid;
    padding: 25px; 
}

   